@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(36, 31, 36);
}

#escolha-categoria {
    background-color: rgb(36, 31, 36);
    color: #ffffff;
    border-color: #ffffff;
}

#b-sim {
    border-color: white;
    color: white;
}

#b-nao {
    border-color: white;
    color: white;
}

#b-sim:hover {
    background-color: #198754;
    color: white;
    border-color: white;
}

#b-nao:hover {
    background-color: #dc3545;
    color: white;
    border-color: white;
}

#fim-jogo > div {
    border-color: #6c757d;
}

#titulo {
    font-size: 150px;
}

#meuNome {
    font-family: 'Nunito', sans-serif;
}